* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* COME BACK TO THIS */

.container {
	margin: 10px auto;
	font-family: 'century gothic', sans-serif;
	background-image: url(http://s7.favim.com/orig/151209/background-clouds-pastel-rainbow-Favim.com-3736687.jpg);
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 410px;
	height: 510px;
	border-radius: 5%;
	border: 5px solid rgb(143 209 199);
}

.square {
	background-color: white;
	font-family: 'century gothic', sans-serif;
	font-size: 2rem;
	border: none;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	shape-margin: 0;
	color: black;
}

.operator {
	background-color: #e8e6e6;
}

.clear {
	background-color: #e8e6e6;
}

.equalSign {
	background-color: #e8e6e6;
}

.square:hover {
	color: white;
}

.c:hover {
	background-color: #e37c7c;
}

.seven:hover {
	background-color: #e39f76;
}

.eight:hover {
	background-color: #e3c17c;
}

.nine:hover {
	background-color: #e3e07c;
}

.division:hover {
	background-color: #c1e37c;
}

.multiplication:hover {
	background-color: #98e37c;
}

.six:hover {
	background-color: #7ce387;
}

.five:hover {
	background-color: #7ce3ac;
}

.four:hover {
	background-color: #7ce3cf;
}

.one:hover {
	background-color: #7cc4e3;
}

.two:hover {
	background-color: #7ca9e3;
}

.three:hover {
	background-color: #7c8ae3;
}

.minus:hover {
	background-color: #987ce3;
}

.plus:hover {
	background-color: #c47ce3;
}

.equals:hover {
	background-color: #e37ce0;
}

.decimal:hover {
	background-color: #e37cba;
}

.zero:hover {
	background-color: #e37c7c;
}

.rectangle {
	background-color: #e8e6e6;
	/* border: 3px solid white; */

	width: 285px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 45%;
	text-align: center;
	font-size: 2rem;
	overflow: hidden;
}

button:focus {
	outline: none;
}
